<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httptriggereventhub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/098b2736-eaee-49f8-8977-474aa716fa0c/resourceGroups/rg-platform-poc/providers/Microsoft.Web/sites/httptriggereventhub</ResourceId>
    <UserName>$httptriggereventhub</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://httptriggereventhub.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>