<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://servicebustrigger20230713155605.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/aa87ca77-14b0-4cee-b4b4-abad952d8b22/resourcegroups/POC/providers/Microsoft.Web/sites/ServiceBusTrigger20230713155605</ResourceId>
    <UserName>$ServiceBusTrigger20230713155605</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://servicebustrigger20230713155605.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>